  .callout {
    border-radius: 50px;
    position: fixed;
    bottom: 75px;
    right: 400px;
    margin-left: 100px;
    max-width: 300px;
  }
  
  .callout-header {
    font-weight: bold;
    padding: 45px 35px;
    background-image: linear-gradient(rgb(255, 0, 0), rgb(155, 0, 0));
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    text-align: center;
  }
  
  .callout-container {
    padding: 50px;
    background-image: linear-gradient(rgb(155, 0, 0), rgb(50, 0, 0));
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-align: center;
    
  }
  
  .closebtn {
    position: absolute;
    top: 5px;
    right: 15px;
    color: white;
    font-size: 30px;
    cursor: pointer;
  }
  
  .closebtn:hover {
    color: rgb(0, 0, 0);
  }
  