<!--<div *ngIf="visible">
    <div class="alert_overlay">
        <div class="alert_content">
            <P class="{{alert_type}}">{{text}}</P>
            <span class="button"><button class="btn">OK</button></span>
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
        </div>
    </div>
</div>-->
<div *ngIf="visible">
    <div class="callout">
        <div class="callout-header">Error Message</div>
            <span class="closebtn" (click)="hide()">x</span>
        <div class="callout-container">
        <p>
          {{text}}
        </p>
    </div>
  </div>
</div>

