.imageClass{
    width:200px;
    height:300px;
}
.colorClass1{
background-color: cornflowerblue;
}
.colorClass2{
    background-color: rgba(34, 202, 34, 0.637);
}
.colorClass3{
    background-color: rgb(58, 57, 0);
    }
